:root{
    --neutral-100: #F0ECE5;
    --neutral-200: #4d6a6f;
    --neutral-300: #31304D;
    --neutral-400: #161a30;
    --green-100: #00FFAB;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Lexand", sans-serif;
    font-weight: 700;
}

body{
    background-color: var(--neutral-400);
    color: var(--neutral-100); 
}

.logo_group {
    display: flex;
    padding-left: 10px;
    align-items: center;
    height: 2rem;
}

.logo_img {
    height: 2rem;
    margin-right: 5px;
    border: 4px solid #00FFAB;
    padding: 5px;
    border-radius: 10px;
}

button {
    cursor: pointer;
}